.function {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: linear-gradient(180deg, #ebf9ff 0%, #f6f6ff 100%);
}
.function__head {
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #ce66ef;
  padding-top: 50px;
}
.function__head1 {
  color: #0f2137;
  font-weight: bold;
  font-family: "DM Sans";
  font-size: 33px;
  line-height: 44px;
  padding-top: 20px;
}
.numbers {
  width: 60%;
  margin-left: 350px;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.function__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 200px;
  width: 90%;
}
.function_content__head {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.function_content__head1 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  width: 60%;
  text-align: left;
}
.function_content__head2 {
  text-align: left;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  width: 50%;
}
