.product {
    display: flex;
}

.num__box{
    width: 4em;
    height: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.zero {
    background-color: yellow;
}
.blue{
    background-color: skyblue;
}

.increment {
    background-color: grey;
    margin-left: 20px;
    width: 6em;
    height: 2em;
}

.delete {
    background-color: red;
    margin-left: 20px;
    height: 2em;
    width: 5em;
}