.button {
  border: 1px solid #ef6666;
  border-radius: 5px;
  min-width: 80px;
  width: fit-content;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
